@{
    ViewData["Title"] = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div>


        @await Html.PartialAsync("~/Views/Musteriler/List.cshtml")
    </div>
</body>
</html>
